body {
	background-color: #000000;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

h1 {
	text-align: center;
}

.game-board {
	display: grid;
	place-items: center;
	row-gap: 5px;
}

.game-board-row {
	display: flex;
	column-gap: 5px;
}

.game-board-tile {
  	height: 3.5rem;
  	width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	box-sizing: border-box;
}

.input-box {
	text-align: center;
	padding: 1rem;
}

.input-box input {
	font-size: 18px;
	color: white;
	padding: 3px;
	border: 2px solid #7e7e7e;
	background-color: #3a3a3a;
}

.letter-board {
	display: grid;
	place-items: center;
	row-gap: 5px;
}

.letter-board-row {
	display: flex;
	column-gap: 5px;
}

.letter-board-tile {
  	height: 2.5rem;
  	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	border-radius: 3px;
	background-color: #7e7e7e;
}

.empty {
	border: 2px solid #7e7e7e;
}

.correct {
  	background-color: #349028;
}
  
.misplaced {
	background-color:#d8ba22;
}

.incorrect {
	background-color: #3a3a3a;
}